body {
    width: 80%;
    background-color: lightsalmon;
}

table {
    /* margin: auto; */
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    text-align: center;
}

table, th, td {
    border: 1px black solid;
    padding: 5px;
}

th {
    background-color: lightblue
}

.modal {
    display: none;
    background-color: blue;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
    color: whitesmoke
}
.modal.open {
    display: block;
    left: 50%;
    transition: left .5s;
}
.modal h3{
    color:pink;
    text-decoration: overline;
    text-transform: capitalize;
}
.modal h4 span{
    color:pink;
}
.modal > p {
    text-align: left;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right:10px;
    background-color: #111;
    padding: 10px;
    color: whitesmoke
}
.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}